<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type"
 content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<form action="/api/user/write" method="get">
		<!-- 구분 -->
		<select name="division" id="division">
		    <option value="couple" selected="selected">연인</option>
		    <option value="man">남남</option>
		    <option value="woman">여여</option>
		    <option value="concoction">혼성</option>
		    <option value="family">가족</option>
		</select><br>
		
		<!-- 날짜 -->
		<input type="text" name="month" id="month">월<br>
		<input type="text" name="day" id="day">일<br>
		
		<!-- 시간 -->
		am:<input type="text" name="startTime" id="startTime" >시<br>
		pm:<input type="text" name="endTime" id="endTime" >시<br>
		
		<!-- 인원수 -->
		<select name="peopleNo" id="peopleNo">
		    <option value="2" selected="selected">2</option>
		    <option value="3">3</option>
		    <option value="4">4</option>
		    <option value="5">5</option>
		    <option value="6">6</option>
		    <option value="7">7</option>
		    <option value="8">8</option>
		    <option value="9">9</option>
		</select><br>
		
		<!-- 총 비용 계산기 계산된값만 받는걸로 -->
		<input type="text" name="cost" id="cost">총 비용<br>
		
		<!-- 봉사/헌혈 체크박스 -->
		<input type="checkbox" name="volunteer" value="volunteer">봉사/헌혈<br>
		
		<!-- 지역 -->
		<input type="text" name="city" id="city">시<br>
		<input type="text" name="borough" id="borough">구<br>
		<input type="text" name="dong" id="dong">동<br>
		
		<!-- 반경 -->
		<input type="text" name="radius" id="radius">반경<br>
		
		<input type="submit" value="작성완료">
	</form>
</body>
</html>